/* Docs  */
.docs {
    margin-top: 50px;
}

.docsTOC {
    background-color: rgba(128, 128, 128, 0.164);
    padding: 20px;
    margin: 20px;
}

.docsTOC a {
    display: block;
    padding: 10px;
    color: black;
}
.docsTOC a:hover:not(.active) {
    background-color: rgba(85, 85, 85, 0.404);
    color: black;
    padding: 10px;
  }
   
.docsTOC a.active {
    background-color: black;
    color: white;
  }


.classTableData a {
    color: gray;
    text-decoration: none;
}

.classTableData a:hover {
    color: rgb(100, 100, 100);
    text-decoration: none;
}